@use "../utilities/variables" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var.$cor1;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: O auto;
}
